<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    #demo {
      position: absolute;
      left: 0;
      top: 0;
      width: 100px;
      height: 100px;
      background: black;
    }
  </style>
</head>
<body>
  <div id="demo"></div>
  <script>
    const demo = document.getElementById('demo');
    const pos = {
      top: 0,
      left: 0,
    }
    demo.onclick = function() {
      this.style.left = pos.left + 10 + 'px';
      this.style.top = pos.top + 5 + 'px';
      pos.left += 10;
      pos.top += 5;
    }
  </script>
</body>
</html>