<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    #demo {
      display: none;
      width: 100px;
      height: 100px;
      background: black;
    }
  </style>
</head>
<body>
  <div id="demo"></div>
  <script>
    const demo = document.getElementById('demo');

    setTimeout(() => {
      demo.style.display = 'block';
    }, 3000);
  </script>
</body>
</html>